body
{
	background-color : #505050;
}

/***** header *****/

header
{
	margin : 30px auto 0;
	padding : 1px;
	width : 80%;
	height : 20%;
	border-radius : 20px;
	background-color : #909090;
	box-shadow : 17px 15px 12px #010101;
}

img
{
	width : 100%;
}

.loupe
{
	float : left;
	position : absolute;
	left: 67%;
	width: 20%;
}

.leftfloat
{
	float : left;
	width : 42%;
}

.rightfloat
{
	float : right;
	padding-right: 15px;
}

.reload
{
	width : 30px;
	margin-top: 13px;
	margin-bottom: 154px;
}

.close
{
	width : 30px;
}

.rightfloat>figure
{
	margin: 0;
}

/***** fin header *****/

/***** main *****/

.main
{
	width : 80%;
	margin: 0 auto;
	padding: 0 35px;
}

.minidiv
{
	background-color: #909090;
	border-radius: 20px;
	box-shadow: 17px 15px 12px #010101;
	padding: 30px 50px;
	width: 5%;
	height: 20px;
}

.minidiv2
{
	background-color: #909090;
	border-radius: 20px;
	box-shadow: 17px 15px 12px #010101;
	width: 5%;
	height: 20px;
	padding-bottom: 220px;
}

.divcentral
{
	background-color: #909090;
	border-radius: 20px;
	box-shadow: 17px 15px 12px #010101;
	padding: 15px;
	text-align: center;
	width : 35%;
}

.divcentral>figure
{
	margin: 0;
}

#brick
{
	width: 90%;
	margin: 0 auto;
	padding-left: 6px;
}

.beforeBrick
{
	width: 60%;
	margin: 0 auto;
}

#brick>img
{
	margin: -2;
	width: 25%;
}

.contour
{
	border: 5px solid red;
	border-radius: 6px;
	margin: 5px 0px;
}
/***** fin main *****/

/***** lien *****/

.chaise
{
	width: 90px;
	height: 127px;
	position: absolute;
	left: 965px;
	top: 747px;
}

.ordi
{
	width: 244px;
	height: 160px;
	position: absolute;
	left: 1500;
	top: 737px;
}

/***** fin lien *****/

/***** div verte *****/

.divverte
{
	background-color: #88ff89;
	border-radius: 20px;
	box-shadow: 17px 15px 12px #010101;
	width: 25%;
	height: 200px;
	position: absolute;
	left: 151px;
	top: 1040px;
	padding-left: 1%;
	font-size: 1.6em;
}

.divverte>p
{
	margin: 0;
font-family: Georgia;
}

.entrez
{
	font-size: 2em;
}

.ordiombre
{
	text-shadow: 0.3em 0.3em 0.16em #ab7943;
	
}

.italique
{
	font-family: italic;
	font-style:italic;
}
/***** fin div verte *****/
