.sizeglobal
{
	width : 2%;
	height : 4%;
	border : 2px solid black;
}

table
{
	margin : 0 auto;
}

.cgreen
{
	background-color : #96FF8E;
}

.cred
{
	background-color : #FF6767;
}

.cbeige
{
	background-color : #FFDEA3;
}

.cpink
{
	background-color : #FEBEC9;
}

.clpink
{
	background-color : #FF8FDA;
}

.cllpink
{
	background-color : #FF4CC4;
}

.grey
{
	background-color : #C1C1C1;
}

.blue
{
	background-color : #A0ECEC;
}

.yellow
{
	background-color : #F2F18B;
}

.fyellow
{
	background-color : #B2B16C;
}

.righth
{
	text-align : right;
	margin-bottom : -34px;
}

.leftb
{
	text-align : left;
}

.middleg
{
	text-align : center;
	margin-bottom : 0px;
	font-size : 3em;
	font-weight : bold;
}

h1
{
	font-size : 4em;
	text-align : center;
	color : blue;
}

h2
{
	font-size : 2em;
	text-align : center;
	color : blue;
}

figure
{
	text-align : center;
}

.photo
{
	width: 100%;
}
/**** responsive *****/

@media screen and (max-width:1980px)
{
	.middleg
	{
		font-size: 2em;
		margin-bottom: -17px;
	}

	.righth
	{
		font-size: 0.8em;
	}

	.leftb
	{
		font-size: 0.8em;
	}

	h1
	{
	font-size: 3.5em;
	color:red;
	}
}

@media screen and (max-width:1200px)
{
.middleg
{
font-size: 0.8em;
margin-bottom: -12px;
margin-top: 32px;
}

	.righth
	{
		font-size: 0.6em;
	}

	.leftb
	{
		font-size: 0.6em;
	}
}

@media screen and (max-width:950px)
{
	table thead
	{
		display: none;
	}
	table tr
	{
		display: block;
		margin-bottom: 40px;
	}
	table td
	{
		display: block;
		text-align: right;
		margin-bottom: 5px;
	}
	.middleg
	{
		font-size:4em;
		margin-top: 56px;
		margin-bottom: 35px;
	}	
	.righth
	{
		margin-top: 0px;
		font-size: 1.5em;
	}

	.leftb
	{
		font-size: 1.5em;
	}
	.sizeglobal
	{
		width : 245%;
		height: 190px;
	}

	.photo
	{
		display:none;
		width: 0%;
	}
}
